 <div 
    {{ stimulus_controller('route-dashboard', {
        routeSelectedId: routeSelectedId
    }) }}
> 
        <div >
            <p>Routes</p>
            {{ include('home/_routeList.html.twig') }}

            <p>Sites</p>
            {{ include('home/_routeAddresses.html.twig') }}

            <p>Orders</p>
            {{ include('home/_orderList.html.twig', {
                    targetName: "routeOrders",
                    entities: routeOrders
            }) }}
        </div>
</div>