{% extends 'base.html.twig' %}

{% block body %}

    <div 
        class="pb-9"
        {{ stimulus_controller('reload-content',  {
            url: path('app_dashboard_refresh'),
            addRouteUrl: path('app_route_addOrder'),
            removeRouteUrl: path('app_route_removeOrder'),
            routeSelectedId: routeSelected.id
        }) }}
        data-action="modal-form:success->reload-content#refreshContent route-dashboard:routeClicked->reload-content#refreshContent sortable:addedOrder->reload-content#addOrderToRoute sortable:removedOrder->reload-content#removeOrderToRoute"
    >
        <div data-reload-content-target="content" >    
             {{ include('home/_homeDashboard.html.twig')}}
        </div> 
    </div>

{% endblock %}  