{% extends 'base.html.twig' %}

{% block body %}
 <div class="d-flex flex-center content-min-h">
    <div class="text-center py-9"><img class="img-fluid mb-7 d-dark-none" src="../assets/img/spot-illustrations/2.png" width="470" alt="" /><img class="img-fluid mb-7 d-light-none" src="../assets/img/spot-illustrations/dark_2.png" width="470" alt="" />
        <h1 class="text-800 fw-normal mb-5">Under Construction</h1>
    </div>
</div>
{% endblock %}  