{% extends 'base.html.twig' %}

{% block body %}

    <div 
        class="pb-9"
        {{ stimulus_controller('reload-content',  {
            url: path('app_dashboard_refresh')
        }) }}
        data-action="modal-form:success->reload-content#refreshContent"
    >
        <div data-reload-content-target="content">    
             {{ include('home/_homeDashboard.html.twig')}}
        </div> 
    </div>

{% endblock %}  