{% extends 'base.html.twig' %}

{% block body %}
    <div 
        
        {{ stimulus_controller('reload-content',  {
            url: path('app_dashboard_refresh'),
            addRouteUrl: path('app_route_addOrder'),
            removeRouteUrl: path('app_route_removeOrder'),
            routeSelectedId: routeSelectedId
        }) }}
        data-action="modal-form:success->reload-content#refreshContent route-dashboard:routeClicked->reload-content#refreshContent sortable:addedOrder->reload-content#addOrderToRoute sortable:removedOrder->reload-content#removeOrderToRoute"
    >
        <div data-reload-content-target="content" >    
             {{ include('home/_homeDashboard.html.twig')}}
        </div> 
    </div>

                        <div id="right-panel-vertical-gutter" class="home-vertical-gutter"></div>
                    </div>
                    
                </div>

                <div id="horizontal-gutter"class="home-horizontal-gutter"></div>
            </div>
            
        </div>
    </div>
{% endblock %}  