<div class="search-box navbar-top-search-box d-none d-lg-block" data-list='{"valueNames":["query"]}' style="width:25rem;">
    <form class="position-relative" data-bs-toggle="search" data-bs-display="static" action="{{ path('app_driver_search') }}">
        <input class="form-control search-input fuzzy-search  form-control-sm" type="search" name="query" placeholder="Search..." aria-label="Search" />
    </form>
    <div class="btn-close position-absolute end-0 top-50 translate-middle cursor-pointer shadow-none" data-bs-dismiss="search">
        <button class="btn btn-link btn-close-falcon p-0" aria-label="Close"></button>
    </div>

    <div class="dropdown-menu border border-300 font-base start-0 py-0 overflow-hidden w-100">
        <div class="scrollbar-overlay" style="max-height: 30rem;">
            <div class="list pb-3">
                {% for driver in drivers %}
                    <div class="d-flex align-items-center">
                        <div class="fw-normal text-1000 title">{{ driver.name }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>