{% extends 'base.html.twig' %}

{% block title %}Hello DriverController!{% endblock %}

{% block body %}
<div>
    {% if drivers|length > 0 %}
        {% for driver in drivers %}
            <div>{{ driver.name }}</div>
        {% endfor %}
    {% else %}
    {% endif %}
</div>
{% endblock %}
