{% extends 'base.html.twig' %}

{% block title %}{{ 'Create new driver' |trans }}{% endblock %}

{% block body %}
      <h2 class="text-center">{{ 'Create a driver' |trans }}</h2>
      {{ include('driver/_form.html.twig') }}
{% endblock %}
