{% extends 'simpleBase.html.twig' %}

{% block body %}

<div id="cl-wrapper" class="login-container">
    <div class="middle-login">
        <div class="block-flat">
            <div class="header">
                <h3 class="text-center"><img src="assets/img/logo.png" alt="logo" class="logo-img"></h3>
            </div>

            <div>
                <form style="margin-bottom: 0px !important;" action="{{ path('app_login') }}" class="form-horizontal" method="POST">
                    <div class="content">
                        <h4 class="title">Login Access</h4>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input type="text"  name="_username" value="{{ lastUsername }}"  placeholder="email" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input type="password" name="_password" placeholder="Password" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                     
                    <div class="foot">
                        <button data-dismiss="modal" type="submit" class="btn btn-primary">Login</button>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <label>
                                Don't have an account? <a href="{{ path('app_register') }}">Register here</a>
                            </label>
                        </div>
                    </div>
                </form>
            </div>   
        </div>
       
        <div class="text-center out-links"><a href="#">© 2013 Your Company</a></div>
    </div>
</div>

           
            
{% endblock %}