@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap');
@import url('https://unicons.iconscout.com/release/v4.0.8/css/line.css');

.sortable-ghost {
    opacity: .6;
}

.sortable-selected {
    background-color: #f9c7c8 !important;
    border: solid red 1px !important;
    z-index: 1 !important;
}

.tpmap {
    min-width: 200px;
    min-height: 400px;
}

/* RESIZE */

*, *::before, *::after {
    box-sizing: border-box;
}

.home-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
  }
  
.home-panel {
    padding: 1em;
    color: #fff;
    min-width: 200px;
}
  
.home-left-panel {

}
  
.home-right-panel {
    position: relative;
}
  
.home-gutter {
    width: 3px;
    height: 100%;
    background: #666;
    position: absolute;
    top: 0;
    left: 0;
    cursor: col-resize;
}
     