{% extends 'base.html.twig' %}

{% block body %}
      <h2 class="text-center">{{ 'Create new vehicle' |trans }}</h2>
      {{ include('driver/_inputSearchDriver.html.twig') }}
      {# {{ include('vehicle/_form.html.twig') }} #}


{% endblock %}
