{% extends 'base.html.twig' %}

{% block body %}
      <h2 class="text-center">{{ 'Create new carrier' |trans }}</h2>
      <div data-controller="counter"></div>
      {{ include('carrier/_form.html.twig') }}
{% endblock %}
